 #textbox-title {
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
    border-color: black;
    border-style: ridge;
    border-width: 1.5px;
    padding: 20px 42px;
    

  }

  #textbox-body {
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
    border-color: rgb(3, 41, 252);
    border-style: ridge;
    border-width: 1.5px;
    padding: 15px 32px;
  }



  #submit{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 20%;
  }

  #journal-input {
    display: flex;
    flex-direction: column;  

  }