.home-page {
  color: black;
  margin: 0, auto;
  display: block;
  text-align: center;
}

body {
  background-image: url(https://images.unsplash.com/photo-1602478562449-abf35dbea243?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80);
  background-position: fixed;
  background-color: #a3866a;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  width: auto;
  position: relative;
  margin: 0%;
  padding: 0%;
}

span {
  display: flex;
  justify-content: center;
}
