.nav-bar {
  background-color: rgb(162, 218, 253);
  margin-bottom: 50px;
  padding: 0;
  text-decoration: none;
  top: 0px;
}

.nav-bar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.DayView_nav_bar_font {
  font-family: "Oswald", sans-serif;
}

.To_Do_List_nav_bar {
  font-family: "Oswald", sans-serif;
}

.Home_nav_bar_font {
  font-family: "Oswald", sans-serif;
}
