.menu {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: rgba(162, 218, 253);
  margin-bottom: 5px;
  padding: 5px;
  text-decoration: none;
  top: 0;
  font-size: 15px;
  position: fixed;
  width: 100%;
  position:top;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  text-decoration: none;
  color: black;
  border-radius: 12px;
  padding: 5px 20px;
}

.link {
  border: none;
  /* padding: 5px 10px; */
  color: white;
  padding: 0.7em 0.5em;
  text-align: center;
  font-size: 50px;
  /* display: inline-block; */
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

#link1 {
  background-color: #090dfc;
  color: white;
  border-radius: 12px;
  padding: 5px 20px;
}

#link2 {
  background-color: #090dfc;
  color: white;
  border-radius: 12px;
  padding: 5px 20px;
}

#link3 {
  background-color: #090dfc;
  color: white;
  border-radius: 12px;
  padding: 5px 20px;
}

p {
  text-size-adjust: auto;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  position: bottom;
  float: center; */
  margin-bottom: 0;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: center;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: blue;
}

.btn {
  border-radius: 0px;
}
