.nav-bar {
  background-color: rgb(162, 218, 253);
  margin-bottom: 50px;
  padding: 0;
  text-decoration: none;
  top: 0px;
}

.nav-bar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  color: black;
}
