div {
  color: black;
  margin: 0, auto;
  display: block;
  text-align: center;
}

span {
  display: flex;
  justify-content: center;
}

.mood-btn {
  font-size: 36px;
  width: 90px;
  height: 60px;
  background-color: cadetblue;
}

#mood_tracker_text {
  font-family: "Tajawal", sans-serif;
  font-size: 30px;
}

.mood {
  margin-bottom: 40px;
}

