div {
  color: black;
  margin: 0, auto;
  display: block;
  text-align: center;
}

span {
  display: flex;
  justify-content: center;
}

.mood-btn {
  font-size: 50px;
  width: 80px;
  background-color: cadetblue;
  /*change background of mood buttons*/
}

#mood_tracker_text {
  font-family: "Tajawal", sans-serif;
}

/* button {
  font-size: 30spx;
} */

.mood {
  margin-bottom: 60px;
}

h1 {
  margin-bottom: 40px;
}
